	<div class="row">
		

<div class="mask" ng-click="goDmenu3($event)" ng-show="canShowMask3()"></div>
		
        <div id="loadMenu1" ng-show="canShowDmenu3()" >	
			<div class="cbp-spmenu_1 cbp-spmenu_1-vertical cbp-spmenu_1-right" id="cbp-spmenu-pop2">
				<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>		
				
				<div class="modTitle1" ng-show="canShowLancheLabs()">
					<div class="divh5">Steps to Launch Your 'eLabs' Self-Paced Portal</div>
					<div id="pct1" class="pct" ng-click="goeLabmenu($event)"></div>
				</div>
                <div class="modTitle1" ng-show="canShowFAQ()">
					<div class="divh5">FAQ</div>
					<div id="pct1" class="pct" ng-click="gofaqMenu($event)"></div>
				</div>
                
                <div class="hline1" style="width:95%;margin-top:10px;padding:0px 10px;"></div>
                
                
                
				<div class="menuContent" ng-show="canShowLancheLabs()"> 
                   <div style="margin:10px;"> 
                    <div class="mydiv"><span style="color:red;">Check: </span>Do you have the 'eLabs' Self-Paced Portal open in a browser tab? If you do, skip Step 1 (you do not need more than one eLabs environment open).</div>
                
				<div class="hline1" style="margin-top:10px;"></div>
                
                <div class="para2">
                    <div class="biglistimg" style="width:50px;height:50px;" ng-style="{'background-image':'url(images/u104.png)'}"><p style="text-align:center;font-size:30px;color:#FFF;position:relative;margin:10px auto;">1</p></div>
                    <div class="environ" style="margin-top:-60px;margin-left:70px;">
                        <div>Launch the 'eLabs' Self-Paced Portal</div> 
                        <div class="mydiv">The 'eLabs' Self-Paced Portal is the place to perform all of the exercises.</div>
                        <a href="https://beta.selfpaced.training/precheck" class="mydiv link" style="margin-left: 10px;" target="_blank">Launch your eLabs Environment now (opens in a browser tab)</a>
                    </div>
                </div>
                   <div class="hline1" style="margin-top:10px;"></div>
                <div class="para2">
                      <div class="biglistimg" style="width:50px;height:50px;" ng-style="{'background-image':'url(images/u104.png)'}"><p style="text-align:center;font-size:30px;color:#FFF;position:relative;margin:10px auto;">2</p></div>
                    <div style="margin-top:-60px;margin-left:70px;">
                        <div>Pre-Check and Login</div> 
                        <div class="mydiv">Perform the 'Pre-Check' and 'Login' tasks within the 'eLabs' Self-Paced Portal.</div>
                       
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                <div class="para2">
                     <div class="biglistimg" style="width:50px;height:50px;" ng-style="{'background-image':'url(images/u104.png)'}"><p style="text-align:center;font-size:30px;color:#FFF;position:relative;margin:10px auto;">3</p></div>
                    <div class="environ" style="margin-top:-60px;margin-left:70px;">
                        <div>Return to this Course and Continue</div> 
                        <div class="mydiv">The Exercise pages present the guides for each exercise. If you wish you can also download the  
                            <a href="http://www.trainingtelecoms.com/elabs_demo/Granite_EU_Exercises/eOBES_GI_9.1_End+User-eLAB_Student+Guide_v0+2.pdf" class="mydiv link" target="_blank" style="margin-left: 0px;">Complete Student Guide PDF (opens in a browser tab) </a></div>
                      
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                       <div class="para1">
                    
                    <div>
                        <div>Access Problems?</div> 
                        <div class="mydiv">For all eLabs access questions please contact<a href="https://beta.selfpaced.training/support" class="mydiv link" target="_blank">ReadyTech Support.</a></div>
                      
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
			</div>
			</div>
                
               
                <div class="menuContent" style="overflow:auto;" ng-show="canShowFAQ()"> 
                   <div id="top1" style="margin:10px;"> 
            
                
                <div class="para1">
                    
                    <div>
                        <div style="color:#800080;font-size:13px">eLabs Access Problems</div> 
                        <div class="mydiv">For all eLabs access questions, please contact<a href="https://beta.selfpaced.training/precheck" class="mydiv link" target="_blank">ReadyTech Support</a></div>
                    </div>
                </div>
                   <div class="hline1" style="margin-top:10px;"></div>
                <div class="para1">
                    
                    <div>
                        <div>General Questions</div> 
                        
                        <div class="mydiv1">A question goes here. A question goes here. A question goes here. A question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">B question goes here. B question goes here. B question goes here. B question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">C question goes here. C question goes here. C question goes here. C question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">D question goes here. D question goes here. D question goes here. D question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">E question goes here. E question goes here. E question goes here. E question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">F question goes here. F question goes here. F question goes here. F question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">G question goes here. G question goes here. G question goes here. G question goes here. This hyperlink should autoscroll to the answer below.</div>
                        <div class="mydiv1">H question goes here. H question goes here. H question goes here. H question goes here. This hyperlink should autoscroll to the answer below.</div>
                       
                       
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                <div class="para1">
                    
                    <div>
                        <div>A question goes here. A question goes here. A question goes here. A question goes here. A question goes here. A question goes here.</div> 
                        <div class="mydiv">Answer to question A goes here. Answer to question A goes here. Answer to question A goes here. Answer to question A goes here. Answer to question A goes here. Answer to question A goes here. Answer to question A goes here. Answer to question A goes here. Answer to question A goes here.</div>
                      <a href="#top" class="mydiv link" style="margin-top:10px;">^ Return to Top</a>
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                  <div class="para1">
                    
                    <div>
                        <div>B question goes here. B question goes here. B question goes here. B question goes here. B question goes here. B question goes here.</div> 
                        <div class="mydiv">Answer to question B goes here. Answer to question B goes here. Answer to question B goes here. Answer to question B goes here. Answer to question B goes here. Answer to question B goes here. Answer to question B goes here. Answer to question B goes here. Answer to question B goes here.</div>
                      <a href="#top" class="mydiv link" style="margin-top:10px;">^ Return to Top</a>
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                 <div class="para1">
                    
                    <div>
                        <div>C question goes here. C question goes here. C question goes here. C question goes here. C question goes here. C question goes here.</div> 
                        <div class="mydiv">Answer to question C goes here. Answer to question C goes here. Answer to question C goes here. Answer to question C goes here. Answer to question C goes here. Answer to question C goes here. Answer to question C goes here. Answer to question C goes here. Answer to question C goes here.</div>
                      <a href="#top" class="mydiv link" style="margin-top:10px;">^ Return to Top</a>
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                 <div class="para1">
                    
                    <div>
                        <div>D question goes here. D question goes here. D question goes here. D question goes here. D question goes here. D question goes here.</div> 
                        <div class="mydiv">Answer to question D goes here. Answer to question D goes here. Answer to question D goes here. Answer to question D goes here. Answer to question D goes here. Answer to question D goes here. Answer to question D goes here. Answer to question D goes here. Answer to question D goes here.</div>
                      <a href="#top" class="mydiv link" style="margin-top:10px;">^ Return to Top</a>
                    </div>
                </div>
                <div class="hline1" style="margin-top:10px;"></div>
                       
                       
                  <div class="para1">
                    
                    <div>
                        <div>E question goes here. E question goes here. E question goes here. E question goes here. E question goes here. E question goes here.</div> 
                        <div class="mydiv">Answer to question E goes here. Answer to question E goes here. Answer to question E goes here. Answer to question E goes here. Answer to question E goes here. Answer to question E goes here. Answer to question E goes here. Answer to question E goes here. Answer to question E goes here.</div>
                      <a href="" ng-click="gotoAnchor(1)" class="mydiv link" style="margin-top:10px;">^ Return to Top</a>
                    </div>
                </div>
            
                <div class="hline1" style="margin-top:10px;"></div>
			</div>
			</div>
                
                
                
                
				<div style="margin-top:20px;">
					<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>	
				</div>		
			</div>
		</div>
		</div>
		</div>

        <div class="row">
        <div class="mask" ng-click="goDmenu($event)" ng-show="canShowMask()"></div>
            
		<div id="loadMenu" ng-show="canShowDmenu()" >	
			<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-pop1">
				<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>		
				<div class="modTitle1">
					<div class="divh4">{{menuTitle}}</div>
					<div id="pct1" class="pct" ng-click="goDmenu($event)"></div>
				</div>
				
				<div id="percentageHolder" >
                  
                    
                   <div id="progressbar">
                        <div class="pct" ng-style="{ 'width': percentage }"></div>
                    </div>
                    
                    <div style="width:90px;float: right;margin-top: 10px;margin-right:0px;text-align:right;">{{percentage}} Complete</div>
                </div>
				
				<div class="menuContent" > 
					  <div class="item" ng-show="canShowL1Template()">
						 <ul class="course_list">
						<div class="hline"></div>	
						<li>						
							<div class="inner">					
								<div class="li-img2">
									<div class="imgHolder2" my-background-image="{{ dmmenuicon }}" ></div>
									<div id="mod3" class="progress"></div>
								</div>
								<div class="li-text1">
									<div class="li-head" style="width:200px; position:relative;" >
										<a href="#menu" ng-click="loadModuleId($event)">Course Menu</a>
									</div>
								</div>
							</div>
						</li>	
						<li ng-repeat="module in moduleHeading" class="{{module.isMenuDisabled}}">
							<div class="inner">							
								<div class="li-img2">
									<div class="imgHolder2" my-background-image="{{ moduleHeading[module.id-1].smallicon }}" ></div>
									<div id="mod3" class="progress {{module.tracking}}" ></div>
								</div>
								<div class="li-text1">
									<div class="li-head" style="width:200px;">
										<a data="{{module.id-1}}" href="#content" ng-click="loadModuleId($event)" >{{ module.id+". "+module.title }}</a>
									</div>									
									<div id="mod3" class="progress {{module.tracking}}"></div>
								</div>
							</div>
						</li>
                       
                             
					</ul>
                          </div>
					<div class="course_list">
						  <div class="hline"></div> 
                        
                        <div class="item" ng-show="canShoweLabTemplate()">
						   <div class="inner" >       
							
                               
                               
							 <div class="modhead" >
							  <a href="#content" style="background: url('{{menutitlebg}}') repeat 0 0;">Course Introduction / Launch eLabs</a>
							 </div>         
							  <ul style="margin-left:10px;">
                                  <li class="subitem">
                                    <a   href="#{{mylink}}" ng-click="loadPage('intro', '')">
                                        
                                        <img ng-src="http://www.trainingtelecoms.com/courses/icons/46/misc_small.png" align='middle' width=20px height=20px />
                                        
                                        <p style="width:240px;">Intructions</p>
                                    </a>
                                  </li> 
                                  <li class="subitem">
                                    <a   href="#{{mylink}}" ng-click="goeLabmenu($event)">
                                        
                                        <img ng-src="http://www.trainingtelecoms.com/courses/icons/46/misc_small.png" align='middle' width=20px height=20px />
                                        
                                        <p style="width:240px;">Launch eLabs</p>
                                    </a>
                                  </li> 
                                   
                                  <li class="subitem">
                                    <a  href="#{{mylink}}" ng-click="loadPage('pdf', elabsStudentGuide)">
                                        
                                        <img ng-src="http://www.trainingtelecoms.com/courses/icons/46/elabs_exercise_small.png" align='middle' width=20px height=20px />
                                        
                                        <p style="width:240px;">Complete Student Guide PDF (Launch in tab)</p>
                                    </a>
                                  </li> 
                                </ul>
						   </div>
												
                               
						  </div> 
                        
					  <div ng-repeat="module in moduleHeading" class="item {{module.isMenuDisabled}}" ng-show="canShoweLabTemplate()">
						   <div class="inner" >       
							
                               
                               
							 <div class="modhead" >
							  <a href="#content" style="background: url('{{menutitlebg}}') repeat 0 0;">{{module.title }}</a>
							 </div>         
							  <ul>
                                  <li class="subitem" ng-repeat="subitem in module.pages">
                                    <a data="{{subitem._id}}" href="#content" ng-click="loadModuleId(subitem._id)">
                                        <div class="progress {{moduleDetails[subitem._id].tracking}}" style="margin-top:6px;" >
                                        </div>
                                        <img ng-src="{{subitem._micon}}" align='middle' width=20px height=20px />
                                        <p style="width:240px;">{{subitem.title}}</p>
                                    </a>
                                  </li> 
                                  
                                
                                 
                                </ul>
						   </div>
												
                               
						  </div> 
                        
                    
                        
                        
                       
                        
						 </div>
             
                    
				</div>
				<div style="margin-top:-10px;">
					<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>	
				</div>		
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="mask" ng-click="goDmenu1($event)" ng-show="canShowMask1()"></div>	
		
		<div id="loadMenu" ng-show="canShowDmenu1()" >	
			<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-pop2">
				<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>		
				
					<div class="modTitle1">
						<div class="divh4">Rate & Comment</div>
						<div id="pct1" class="pct" ng-click="goDmenu1($event)"></div>
					</div>
					
					<div class="menuContent">
					
						<div class="alignContent">
							<hr class="style-six">
						</div>
						
						<div class="alignContent">
							<div class="titleTxt">{{ title }}</div>
							<div class="c_heading">{{moduleDetails[curModuleId-1].id+". "+moduleDetails[curModuleId-1].title}}</div>						
							<hr class="style-six">
						</div>	
						
						<div class="alignContent">
								
							<div class="bigStarIcon" style="color:#89ba17;font-size:30px;" ng-class="{red1: hover}"> 				
							
								<div class="stars" star-rating rating="starRating" click="starClick(param)" mouse-hover="starMouseHover(param)" mouse-leave="starMouseLeave(param)"></div>			
								<div class="labeltxt" >{{starFeedback}}</div> 
								<!--<div class="initStars" ng-init="rating = star.rating + 1"></div>

								<div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
								<div class="labeltxt" >{{starFeedback}}</div>-->
								
							</div>
							<hr class="style-six">
							
						</div>
						
						<div class="alignContent">						
							<textarea name="tbComments" id="tbComments" ng-model="tb.comments" placeholder="Please add any comments here..."></textarea>
						</div>
						
						<div class="btnHolder"> 
							<a id="submitbtn_01" class="submitbtn" href="" ng-click="sendRatingAndComments($event)"></a>
							<a id="newCmtbtn" href="" ng-click="newComments($event)"></a>						
						</div>				
					</div>
					
					<div style="margin-top:-10px;">
						<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>	
					</div>		
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="mask" ng-click="goDmenu2($event)" ng-show="canShowMask2()"></div>	
		
		<div id="loadMenu" ng-show="canShowDmenu2()" >	
			<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-pop3">
				<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>		
				
					<div class="modTitle1">
						<div class="divh4">Share (e-mail)</div>
						<div id="pct1" class="pct" ng-click="goDmenu2($event)"></div>
					</div>
					
					<div class="menuContent">
						<div class="alignContent">
							<hr class="style-six">
						</div>
						<div class="alignContent">
							<div  class="titleTxt">{{ title }}</div>
							<div class="c_heading">{{moduleDetails[curModuleId-1].id+". "+moduleDetails[curModuleId-1].title}}</div>						
							<hr class="style-six">
						</div>	
						
						<div class="alignContent">
								
							<div class="bigStarIcon" ng-form name="myForm" > 				
								<!-- <input id="emailTxt" type="text" placeholder="(Enter recipients email address here)" ng-model="userEmail"  name="userEmail"/>	
								<input id="tbEmail" type="email" ng-model="tb.email" name="tbEmail" placeholder="{{placeholder}}"/>		-->
								<textarea name="tbEmail" id="tbEmail" ng-model="tb.email" placeholder="(Enter recipient Ericsson email address here)"></textarea>	
							</div>
							<hr class="style-six">
						</div>
					
						<div class="btnHolder"> 
							<a id="submitbtn_02" class="submitbtn" href="" ng-click="showValue($event)"></a>
							<a id="shareAgain" href="" ng-click="shareAgain($event)"></a>		
						</div>				
					</div>
					
					<div style="margin-top:-10px;">
						<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>	
					</div>		
			</div>
		</div>
	</div>
	<div class="row" ng-style="{'background-image':'url({{headerbarimage}})'}">
		<div class="six columns">			
			<div class="c_title" ng-style="{'background-image':'url({{logoiconimage}})'}"><h5 id="titleTxt">{{ title }}</h5></div>
		</div>
		<div id="intromessage" class="six columns" style="float: right;" ng-controller="introController" >			
			
		</div>
		
		
	</div>
	
	<div class="row">
		<div class="twelve columns centered" ng-controller="configController">	
            
            
		
            
            
            <div style="display:inline; ">
            
                 <a  class="menubtn" ng-init="showFirst1 = true" ng-mouseover="showFirst1 = false" ng-mouseout="showFirst1 = true" ng-click="goDmenu($event)"> 
                <img ng-src="{{menuicon}}" ng-show="showFirst1" />
                <img ng-src="{{menuiconro}}" ng-hide="showFirst1" />

                </a>



                <a  class="menubtn1" ng-init="showFirst2 = true" ng-mouseover="showFirst2 = false" ng-mouseout="showFirst2 = true" ng-click="goDmenu($event)"> 
                <img ng-src="{{menuicons}}" ng-show="showFirst2" />
                <img ng-src="{{menuiconsro}}" ng-hide="showFirst2" />

                </a>


                    <a  class="launcheLabBtn" ng-show="canShoweLabTemplate()" ng-init="showFirst11 = true" ng-mouseover="showFirst11 = false" ng-mouseout="showFirst11 = true" ng-click="goeLabmenu($event)"> 
                <img ng-src="{{launchbtn}}" ng-show="showFirst11" />
                <img ng-src="{{launchbtnro}}" ng-hide="showFirst11" />

                </a>

                 <a  class="faqBtn" ng-show="canShoweLabTemplate()" ng-init="showFirst12 = true" ng-mouseover="showFirst12 = false" ng-mouseout="showFirst12 = true" ng-click="gofaqMenu($event)"> 
                <img ng-src="{{faqbtn}}" ng-show="showFirst12" />
                <img ng-src="{{faqbtnro}}" ng-hide="showFirst12" />

                </a>

                
			</div>
             <a  ng-show="canShowMenu()" href="#{{mylink}}" class="cmenubtn" ng-init="showFirst3 = true" ng-mouseover="showFirst3 = false" ng-mouseout="showFirst3 = true" > 
            <img ng-src="{{introbtn}}" ng-show="showFirst3" />
            <img ng-src="{{introbtnro}}" ng-hide="showFirst3" ng-click="goIntro()" />
            
            </a>
         
            
             <a  id="prevbtn" ng-show="canShowPrev()" href="#content" class="backbtn" ng-init="showFirst4 = true" ng-mouseover="showFirst4 = false" ng-mouseout="showFirst4 = true" > 
            <img ng-src="{{backbtn}}" ng-show="showFirst4" />
            <img ng-src="{{backbtnro}}" ng-hide="showFirst4" ng-click="goBack()" />
            
            </a>
            
            <a class="progressHolder">
            <a id="progressbtn" href="#content" ng-click="goDmenu()" class="progbtn" ng-init="showFirst6 = true" ng-mouseover="showFirst6 = false" ng-mouseout="showFirst6 = true" > 
            <span class="prgBtn" ng-show="showFirst6">{{percentage}} Complete</span>
			 <span class="prgBtnro" ng-hide="showFirst6">{{percentage}} Complete</span>
            </a>
		
			</a>
             <a href="#{{mylink}}"  class="nextbtn {{nextdisable}}" ng-init="showFirst5 = true" ng-mouseover="showFirst5 = false" ng-mouseout="showFirst5 = true" > 
                <img ng-src="{{nextbtn}}" ng-show="showFirst5" />
                <img ng-src="{{nextbtnro}}" ng-hide="showFirst5" ng-click="goNext()" />
            
            </a>
		</div>		
	</div>
	
	<div id="mediaContent" class="row">
		<div class="twelve columns">
			<div ng-show="canShoweLabTemplate()"><h6 class="c_heading">{{moduleHeading[moduleDetails[curModuleId-1].modId].title+": "+moduleDetails[curModuleId-1].title}}</h6></div>
            <div ng-show="canShowL1Template()"><h6 class="c_heading">{{curModuleId+". "+moduleDetails[curModuleId-1].title}}</h6></div>
			<p class="description" >{{moduleDetails[curModuleId-1].desc}}</p>
					
				<div id="mediaLoader" >  
					
					<video ng-show="canShowVideo()" id="videoLoader" ng-src="{{trustSrc(moduleDetails[curModuleId-1].modVideoUrl)}}" type="video/mp4" controls="controls" autoplay></video>
					
					<div id="iframeloader" ng-show="canShowBoosters()">
<iframe id="kbooster" scrolling="yes" frameBorder="0" src="{{trustSrc(moduleDetails[curModuleId-1].oasset)}}" ></iframe>
					</div>
					
					<div id="ocontent" ng-show="canShowOcontent()">
						<ul class="oclist">
							<li class="lioclist" ng-repeat="module in oContent" ><a id="anchor" href="{{module.url}}" target="_blank">{{module.text}}</a></li>					
						</ul>				
					</div>
					<div id="quizLoader" ng-show="canShowQuiz()" ng-controller="quizController">  
                        <div class="quizContent" ng-show="canShowQResults()" >
                            <p class="qtext">Answer these {{totalQues}} questions to check your knowledge.</p>
				            <div class="quesTxt">Q{{quesCnt}} : {{questions[numofQues[quesCnt-1].val-1].ques}}</div>
					        
					        <p style="color:red;padding-top:10px;">{{hintmessage}}</p>
                            <div class="hline"> </div>
                            
                            
                         
                         <div class="options">
                            
							<div class="radio {{isOptionsDisabled}}" ng-repeat="(cid,loptions) in questions[numofQues[quesCnt-1].val-1].option"> 
								<label >
									<input id="radioOptions" type="radio" name="q1" ng-model="value" ng-change="getVal(value)" value="{{loptions.__text}}"/>
									<div class="text">{{loptions.__text}}</div>
								</label>
                                
							</div>
            
                            </div>
                            
                          
                            <div class="hline"> </div>
                            
                                <div style="position:relative; margin-top:20px;">
                                       
                                    <input type="submit" id="subbtn" ng-mouseover="mover();" ng-mouseleave="mleave();" ng-disabled="isDisabled" ng-click="quizSubmit()" class="subbtn {{buttonStyle}}" value="{{buttonText}}" />
                                    <input type="submit" id="backbutn" ng-mouseover="mover3();" ng-mouseleave="mleave3();" ng-disabled="isBackEnabled" ng-click="prevQues()" class="backbutn {{buttonStyle3}}" value="< Back" />
                                    <input type="submit" id="contbtn" ng-mouseover="mover1();" ng-mouseleave="mleave1();" ng-disabled="isEnabled" ng-click="nextQues()" class="contbtn {{buttonStyle1}}" value="Next >" />
                                 

                                </div>
                            
                              
                    </div>
                            
                         <div id="results" >
                             <div ng-show="canShowResults()">

                                 <p class="qctext">Your test results...</p>

                                 <div class="showFeedback">

                                    <h4>You Scored {{qpercentage}}%</h4>
                                    <p >{{comment}}</p>
                                    <input type="submit" id="retrybtn" ng-show="canShowRetry()" ng-mouseover="mover2();" ng-mouseleave="mleave2();" ng-click="retryQuiz()" class="retrybtn {{buttonStyle2}}" value="Retry" />
                                     
                                 </div>
                                

                            </div>
                        </div>
				    </div>
                    
                    
                    
                    <div id="surveyLoader" ng-show="canShowSurvey()" ng-controller="surveyController">  
                        <div class="surveyContent" ng-show="canShowSurveyQues">
                            <p class="qtext">Please respond to the following 6 statements to help us improve this course.
</p>
				    <div class="quesTxt">Q{{questcnt}} : {{surveyquesObj[questcnt-1].ques}}</div>
					        
					        <p style="color:red;padding-top:10px;">{{hintmessage}}</p>
                            <div class="hline" style="width:100%;margin-left:0px;"> </div>
                            
                            
                         
                         <div class="options1">
                                
							<div class="radio1"ng-repeat="options in choiceObj"  > 
								<label >
									<input id="radioOptions1" type="radio" name="feedback" ng-model="feedback" ng-click="getSelectedVal($event)" value="{{options}}"/>
									<div class="text">{{options}}</div>
								</label>
                                
							</div>
                             
          
                            </div>
                            
                           <div class="bhline" style=""> </div>
                            
                            
                                <div class="buttonHolder">
                                   
                                    <input type="submit" id="ssubbtn" ng-mouseover="mover();" ng-mouseleave="mleave();" ng-disabled="isDisabled" ng-click="surveySubmit()" class="ssubbtn {{buttonStyle}}" value="{{buttonText}}" />
                                   
                                 

                                </div>
                            
                                <div class="spagenum">
                                    
                                    <ul class="qnumlist">
                                        
                                        <li ng-repeat="ques in surveyquesObj" class="{{ques.activeQues}}">{{ques.id}}</li>	
                                        

                                    </ul>
                                    
                                </div>
                    </div>
                            
                         <div id="results" >
                             <div class="resultContent" ng-show="canShowSurveyResults">

                                 <p class="qctext">Survey complete - Thank you for your feedback.</p>

                                <div ng-show="canShowL1Template()" class="returnBtn"> <a href="#{{mylink}}" id="returnSubmit" ng-show="canShowL1Template()" ng-mouseover="smover();" ng-mouseleave="smleave();" ng-click="returnToCoursemenu()" class="returnSubmit {{submitStyle}}" >Return to Course Menu</a></div>
                                    
                            </div>
                        </div>
				    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
					
				</div>
		
		</div>	
	</div>
	
	
	
	
	<div class="row" ng-show="canShowbottomMenus()" >
		<div class="fontIcon1" ng-click="goDmenu1($event)" ng-show="canShowCustMenus()"> 				
			<i class="pe-7f-star ericorange"></i><i class="pe-7f-star ericorange"></i><i class="pe-7f-star ericorange"></i><i class="pe-7f-star ericorange"></i><i class="pe-7s-star ericorange"></i>
			<a href="" class="labeltxt" ng-class="{red1: hover1}"  ng-mouseenter="hover1 = true"
     ng-mouseleave="hover1 = false" >Rate & Comment</a>
		</div>
		
	
		
		<div class="fontIcon3" style="color:#00a9d4;" ng-click="goDmenu2($event)" ng-show="canShowCustMenus()"> 				
				<i class="fa fa-share"></i>	<a href="" class="labeltxt"  ng-class="{red3: hover3}"  ng-mouseenter="hover3 = true"
     ng-mouseleave="hover3 = false" >Share</a>
		</div>

		<div id="repIcon" class="fontIcon4" style="color:#89ba17;"  ng-click="reportBrokenLink($event)" ng-show="!canShowCustMenus()"> 				
				<i class="fa fa-chain-broken"></i><a id="reportStatus" href="" class="labeltxt" >Report Broken Link</a>
		</div>

	</div>
	<div class="row">
		<!--<div class="pagenum">
			<ul class="numlist">
					<li ng-repeat="module in moduleDetails" class="{{module.activeModule}}">{{module.id}}</li>	
			</ul>
		</div> -->
        <div class="paginate wrapper" ><!-- The "wrapper" is just a comestic addition. You don't need this for the pagination to work. -->
        <ul ng-show="{{showpagination}}">
            <li ng-repeat="module in moduleHeading" class="{{module.activeModule}}"><a class="{{module.activeModule}}" >{{module.id}}</a></li>	
           
        </ul>
    </div>
		
	</div>

	<div class="row" style="padding-top:25px;">
		<img ng-src="{{footerbarimage}}" align='top' width=100% height=3px/>		
	</div>
	<div class="row" style="">
		<div class="twelve columns">
		<p align="center">{{ copywriteText }}</p>
		</div>
	</div>
